.c-mt-20 {
  background: #F2F2F2;
  text-align: center;
  margin-top: 100px;
}

.navbar-nav button:nth-child(1) {
  margin-right: 10px;
}

.slider {
  margin: auto;
  margin-top: 10px;
  width: 600px;
  height: 460px;
}

.card {
  width: 18rem;
}

.padforcard {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  position: absolute;
  width: 100%;
  background: #212121;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: auto;
}
/* Home styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.home {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #F2F2F2;
}

.home .infoBx {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10em;
}

.home .infoBx a:hover {
  background: #6b4747;
  color: #000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.home .infoBx h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #584357;
}

.home .infoBx h1 span{
  font-size: 0.6em;
  font-weight: 400;
}

.home .infoBx a {
  position: relative;
  cursor: pointer;
  background: dodgerblue;
  color: #FFF;
  border: none;
  max-width: 150px;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.home .infoBx a:hover {
  background: #3333ff;
  color: #F2F2F2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.home .imgBx {
  flex-direction: column;
  width: 40%;
  height: 100vh;
  background: dodgerblue;
}

.home .imgBx img {
  position: absolute;
  right: 20%;
  top: 20%;
  height: 500px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.7s;
}

.home .imgBx img:hover {
  transform: translate(-15px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* About styles */

 .about {
  background: #F2F2F2;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 100vh;
 }

 .about .imgBx {
   width: 40%;
   height: 100vh;
   background: dodgerblue;
 }

.about .imgBx img {
  position: absolute;
  left: 20%;
  top: 20%;
  height: 500px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.7s;
}

.about .imgBx img:hover {
  transform: translate(-15px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.about .infoBx {
  background: #F2F2F2;
  width: 60%;
  /* height: 100vh; */
  min-block-size: auto;
  margin-left: 15em;
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about .infoBx h2 {
  color: #584357;
  font-size: 4em;
}

.about .infoBx p {
  color: #584357;
  font-size: 1em;
}

.about .infoBx a {
  position: relative;
  cursor: pointer;
  background: dodgerblue;
  color: #FFF;
  border: none;
  max-width: 150px;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
} 

.about .infoBx a:hover {
  background: #3333ff;
  color: #F2F2F2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

/* skills styles */

.skills {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* contact styles */

.contacts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: dodgerblue;

}

.contacts::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #F2F2F2;
}

.contacts .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 50;
}

.contacts .container .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: dodgerblue;
  padding: 40px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.contacts .container .contactinfo h2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
}

.contacts .container .contactinfo .info {
  position: absolute;
  padding-left: 1rem;
}

.contacts .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.contacts .container .contactinfo .info li span:nth-child(1) {
  font-size: 2em;
  color: #FFF;
}

.contacts .container .contactinfo .info li span:nth-child(2) {
  font-weight: 300;
  color: #FFF;
  margin-left: 20px;
  align-self: center;
}

.contacts .container .contactinfo .info li:hover span:nth-child(1),
.contacts .container .contactinfo .info li:hover span:nth-child(2) {
  color: #CCC;
}

.contacts .container .contactinfo .sci {
  position: relative;
  display: flex;
  margin-bottom: 0px;
}

.contacts .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

.contacts .container .contactinfo .sci li a {
  text-decoration: none;
}

.contacts .container .contactinfo .sci li a i {
  color: #FFF;
  font-size: 1.5em;
}

.contacts .container .contactinfo .sci li:hover a {
  color: #CCC;
}

.contacts .container .contactForm {
  position: absolute;
  padding: 70px 50px;
  background: #333233;
  color: #FFF;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.contacts .container .contactForm h2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
}

.contacts .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.contacts .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.contacts .container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.contacts .container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.contacts .container .contactForm .formBox .inputBox input,
.contacts .container .contactForm .formBox .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  resize: none;
  color: #FFF;
  background: #333;
  border: none;
  border-bottom: 1px solid dodgerblue;
  outline: none;
}

.contacts .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

.contacts .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
}

.contacts .container .contactForm .formBox .inputBox input:focus ~ span,
.contacts .container .contactForm .formBox .inputBox textarea:focus ~ span,
.contacts .container .contactForm .formBox .inputBox input:valid ~ span,
.contacts .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: dodgerblue;
}

.contacts .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: dodgerblue;
  color: #FFF;
  border: none;
  max-width: 150px;
  padding: 12px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}

.contacts .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #3333ff;
  color: #F2F2F2;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

/* Responsive part */

@media (max-width: 1300px) {
  .home .infoBx {
    width: 50%;
  }
  .about .infoBx {
    width: 50%;
    margin-left: 5em;
    padding: 5em;
  }
  .about .infoBx h2 {
    font-size: 3em;
  }
  .about .infoBx p {
    font-size: 0.9em;
  }
}

@media (max-width: 1200px) {
  .home .infoBx h1 {
    font-size: 3em;
  }
  .home .imgBx img {
    height: 400px;
    width: 250px;
  }
  .about .imgBx {
    width: 50%;
  }
  .about .imgBx img {
    position: relative;
  }
  .contacts .container {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  }
  .contacts .container .contactinfo {
    position: relative;
    top: 0;
    height: 550px;
    box-shadow: none;
  }
  .contacts .container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  .navbar-nav button:nth-child(1) {
    margin-right: 0px;
  }
  .home .imgBx {
    width: 100%;
    height: 60vh;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .home .imgBx img {
    position: relative;
    right: auto;
    top: auto;
  }
  .home .infoBx {
    width: 100%;
    padding: 2em;
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    flex-direction: column;
  }
  .about .imgBx {
    width: 100%;
    height: 60vh;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .about .imgBx img {
    left: auto;
    top: auto;
    height: 370px;
    width: 250px;
  }
  .about .infoBx {
    width: 100%;
    margin: 1em;
    padding: 5em;
    text-align: center;
  }
  .about .infoBx a {
    margin: auto;
    margin-top: 10px;
  }
  .contacts {
    background: #202328;
  }
  .contacts::before {
    display: none;
  }
  .contacts .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacts .container .contactForm {
    width: 100%;
    height: auto;
  }
  .contacts .container .contactinfo {
    width: 100%;
    height: 350px;
    flex-direction: row;
  }
  .contacts .container .contactinfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .navbar-nav button:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .home {
    flex-direction: column;
    text-align: center;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .slider {
    width: 90%;
    height: 60%;
  }
  .padforcard {
    width: min-content;
  }
  .padforcard .col {
    padding-bottom: 20px;
  }
  .contacts .container .contactForm {
    padding: 25px;
  }
  .contacts .container .contactinfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .container .contactinfo ul.sci {
    margin-top: 40px;
  }
}

